<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Telegram Chat Bot </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Telegram Chat Bot</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="p-5">
    <h2>Land: {{country}}</h2>
    <h2>Benutzer: {{user?.user?.first_name}} {{user?.user?.last_name}}</h2>
  </div>

  <div class="p-5">
    <ion-button (click)="sendMessageToUserId('1101809882', 'Hallo Hannes')">
      Send Message
    </ion-button>
  </div>

  <div class="p-5">
    <ion-item>
      <ion-label position="floating">Nachricht</ion-label>
      <ion-input [(ngModel)]="message"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gruppenname</ion-label>
      <ion-input [(ngModel)]="groupName"></ion-input>
    </ion-item>
    <ion-button class="mt-2" (click)="sendMessagesToGroupUsers(message)">
      Send Message to Users in Group
    </ion-button>
  </div>
</ion-content>
