<ion-header>
  <ion-toolbar>
    <ion-title> Telegram Chat Bot </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-5">
    <h2>Version: v1</h2>
    <h2>Land: {{country}}</h2>
    <h2>Benutzer: {{user?.user?.first_name}} {{user?.user?.last_name}}</h2>
  </div>

  <ion-button (click)="hasChatWithUser()">Test</ion-button>

  <div class="p-5">
    <ion-item>
      <ion-label position="floating">Gruppenname</ion-label>
      <ion-input [(ngModel)]="groupName"></ion-input>
    </ion-item>
    <ion-button class="mt-2" (click)="findGroup()"> Gruppe finden </ion-button>

    <ion-list *ngIf="chats?.length > 0">
      <ion-radio-group
        [(ngModel)]="selectedChat"
        (ngModelChange)="loadChannel()"
      >
        <ion-list-header>
          <ion-label>Gruppen</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let chat of chats">
          <ion-label>
            <h2>{{chat.title}}</h2>
            <p>{{chat._}}</p>
          </ion-label>
          <ion-radio slot="start" [value]="chat"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ng-container *ngIf="fullChannel && selectedChat">
      <ion-card>
        <ion-card-header>
          <ion-card-title> {{selectedChat?.title}} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>About</div>
          <div>{{fullChannel?.full_chat?.about}}</div>
          <div>Mitglieder</div>
          <div>{{fullChannel?.full_chat?.participants_count}}</div>
          <div>Online</div>
          <div>{{fullChannel?.full_chat?.online_count || 0}}</div>
          <div class="mt-3">
            <ion-input
              type="number"
              [(ngModel)]="count"
              [max]="fullChannel?.full_chat?.participants_count"
              placeholder="1"
            ></ion-input>
            <ion-button
              (click)="count = fullChannel?.full_chat?.participants_count"
            >
              Alle</ion-button
            >
            <ion-button
              class="mt-2"
              (click)="getParticipants(count)"
              [disabled]="!selectedChat?.id"
            >
              Teilnehmer finden
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ion-list *ngIf="participants?.length > 0">
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Teilnehmer</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let participant of participants">
          <ion-label
            >{{participant.bot ? '[Bot] ' :
            ''}}{{participant.first_name}}</ion-label
          >
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Nachricht</ion-label>
        <ion-textarea [(ngModel)]="message"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-button
      [disabled]="participants?.length === 0 || !message"
      class="mt-2"
      (click)="sendMessageToUsers()"
    >
      Send Message to Users in Group
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="px-3">
    <ion-buttons slot="end">
      <ion-button (click)="clear()">Ausloggen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
